body, html {
    height: 100%;
  }
   .bg {
    background-color: aqua;
    
  } 
  .gulam {
    margin-left: 30%;
  }
  .yoga{
    margin-top: 10%;
    margin-bottom: 10%;
  }
  .kesavan{
    margin-top: 10%;
    margin-bottom: 10%;
  }